@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "sora", sans-serif;
}

:root {
  --primary-color: #005782;
  --secondary-color: #0097d3;
  --background-color: #ffffff;
  --text-color: #000000;
}

.dark {
  --primary-color: #90cdf4; /* Lighter shade for better contrast */
  --secondary-color: #2b6cb0; /* Adjusted for dark mode */
  --background-color: #1a202c; /* Dark background */
  --text-color: #e2e8f0; /* Lighter text for dark background */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.nav-menu {
  @apply text-[var(--primary-color)] text-[19px] font-medium px-2 py-1 flex items-baseline rounded font-[sora];
}

.nav-menu:hover {
  @apply text-[var(--secondary-color)] transition-all duration-500 cursor-pointer;
}

.footer-menu {
  @apply text-white;
}

.nav-btn {
  @apply text-white bg-[var(--secondary-color)] text-[17px] font-[sora] font-medium p-2 rounded-md;
}

.btn {
  @apply p-2 bg-[var(--secondary-color)] rounded-md text-white;
}

.btn-posts {
  @apply p-2 bg-[var(--secondary-color)] text-white hover:bg-[#1896c8];
}

.btn-round {
  @apply w-[50px] h-[50px] px-2 font-semibold text-[25px] bg-[var(--secondary-color)] rounded-full text-white;
}

.btn-round-white {
  @apply w-[50px] h-[50px] px-2 font-semibold text-[25px] bg-white rounded-full text-[var(--secondary-color)];
}
