@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "sora", sans-serif;
}

.nav-menu:hover {
  @apply text-[#0097d3] transition-all duration-500 cursor-pointer;
}

.nav-menu {
  @apply text-[#005782] text-[19px] font-medium px-2 py-1 flex items-baseline rounded font-[sora];
}

.nav-btn {
  @apply text-white bg-[#0097d3] text-[17px] font-[sora] font-medium p-2 rounded-md;
}

.btn {
  @apply p-2 bg-[#0097d3] rounded-md text-white;
}

.btn-posts {
  @apply p-2 bg-[#0097d3] rounded-[0_0_6px_6px] text-white;
}

.btn-round {
  @apply w-[50px] h-[50px] px-2 font-semibold text-[25px] bg-[#0097d3] rounded-full text-white;
}
.btn-round-white {
  @apply w-[50px] h-[50px] px-2 font-semibold text-[25px] bg-white rounded-full text-[#0097d3] shadow-[1px_1px_3px_2px_lightgray];
}
